* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bbffd7;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 0px;
  font-family: "Patrick Hand";

}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  font-family: "Patrick Hand";
  align-items: center;
  justify-content: center;
background-color: rgba(114, 151, 111,0.5);
padding:20px;
font-weight:bold;
color:black;
margin-left:10px;
margin-right:10px;
}
img {
  margin-top: 0px;
  max-height: 200px;
  align-items: center;
  justify-content: center;
}

.container {
  display:flex; 
  flex-direction: column;
  margin-top: 30px;

  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  margin-top: 50px;
  margin-bottom:50px;
  align-items: center;
  justify-content: center;
}

.chibi {
  display:flex;
  align-items: center;
  justify-content: center;
}